#searchImage {
  margin-right: 10px;
}
.searchText {
  border: none;
  margin: 0;
}

.userWrapper {
  margin-right: -10px;
}
.profile {
  display: flex;
}
#currentUserPic {
  width: 45px;
  margin-left: 20px;
}
.greeting {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
