.homePageWrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
#heroImage {
  width: 33vw;
}
.container {
  height: 63vh;
  width: 33vw;
  background: #ffffff;
  border: 2px solid rgba(26, 59, 88, 0.24);
  border-radius: 65px;
}
.signInButton {
  font-weight: 400;
  font-size: 18px;
  padding: 5px 0px;
  /* margin: 5px 5px; */
  background: transparent;
  border: none;
  margin: 0 5px;
  color: rgba(26, 59, 88, 0.33);
  transition: all 0.4s;
}
.signInButton:hover {
  cursor: pointer;
  opacity: 0.8;
}
.signInButton.active {
  color: black;
}
.signInButton.active:after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  width: 20px; /* Change this to whatever width you want. */
  padding-top: 5px; /* This creates some space between the element and the border. */
  border-bottom: 2px solid black; /* This creates the border. Replace black with whatever color you want. */
}
.tabHeading {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  /* width: 100%; */
  /* background: #ff000038; */
  padding: 10px 20px;
  margin: 45px 10px 20px 30px;
}
.lineBreak {
  border: 2px solid rgba(64, 145, 223, 0.12);
  height: 0px;
  /* margin: 0 20%; */
  /* margin: 10% 0; */
  margin-bottom: 10px;
}
.innerBox {
  padding: 0 15%;
}
.signInComponent {
  margin: 30px 0;
}
